/* transisition 

*/
div{
    background-color: aliceblue;
    height:100px;
    width: 100px;
    color: blue;
    transition-duration: 2s;
    transition-property: width;
    transition-timing-function: ease-in-out;
    transition-timing-function:linear;
    transition: all 2s ease-in-out;
} 
div:hover{
    background-color: greenyellow;
    width: 200px;
}
.animation{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    border-radius: 80px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation:bounce 2s ease-in-out infinite;
}

/* bounce is keyframe */
@keyframes bounce{
    0%,100%{
        top: 0;
    }50%{
        top:100px
    }
}